<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Escolha seus Atributos</title>
</head>
<body>
    <h1>Como deseja gerar seus atributos?</h1>
    <form method="post">
        <input type="radio" id="classico" name="modo" value="1" checked>
        <label for="classico">Clássico (3d6)</label><br>

        <input type="radio" id="heroico" name="modo" value="2">
        <label for="heroico">Heróico (4d6, descarta o menor e escolha onde colocar)</label><br>

        <input type="radio" id="aventureiro" name="modo" value="3">
        <label for="aventureiro">aventureiro (3d6 e escolha onde colocar)</label><br>

        <button type="submit">Gerar Atributos e Criar Personagem</button>
    </form>
</body>
</html>