<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <meta charset="UTF-8">
  <title>Criação de Personagem</title>
</head>
<body>
  <h1>Crie seu Personagem</h1>
  <form method="POST">
    <label>Nome:</label>
    <input type="text" name="nome" required><br><br>

    <label>Classe:</label>
    <select name="classe">
      <option value="1">Guerreiro</option>
      <option value="2">Ladrão</option>
      <option value="3">Mago</option>
    </select><br><br>

    <label>Raça:</label>
    <select name="raca">
      <option value="1">Humano</option>
      <option value="2">Elfo</option>
      <option value="3">Anão</option>
    </select><br><br>



    <button type="submit">Criar Personagem</button>
  </form>
</body>
</html>
